<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="timertaskserver.workserver.data.swzzqxsj.Tz_watershedData">
    <select id="selectList" resultType="timertaskserver.workserver.pojo.swzzqxsj.Tz_watershedPojo">
        select a.* from "tz_watershed" a
        <where>
            <if test="ID != null and ID != ''">
                and KEYID = #{ID}
            </if>
            <if test="key != null and key != ''">
                and NAME like concat('%',concat(#{key},'%'))
            </if>

<!--            <if test="stime != null and stime != ''">-->
<!--                <![CDATA[ and TM >= #{stime} ]]>-->
<!--            </if>-->
<!--            <if test="etime != null and etime != ''">-->
<!--                <![CDATA[ and TM <= #{etime} ]]>-->
<!--            </if>-->
<!--            <if test="type != null and type.size() > 0">-->
<!--                and GROUPID in-->
<!--                <foreach collection="type" open="(" close=")" item="item" separator=",">-->
<!--                    #{item}-->
<!--                </foreach>-->
<!--            </if>-->
        </where>
        <if test="startindex != null and pagesize != null">
            limit #{startindex},#{pagesize}
        </if>
    </select>

    <select id="selectCount" resultType="integer">
        SELECT count(1) FROM "tz_watershed"
        <where>
            <if test="ID != null and ID != ''">
                and KEYID = #{ID}
            </if>
            <if test="key != null and key != ''">
                and NAME like concat('%',concat(#{key},'%'))
            </if>
            <!--            <if test="stime != null and stime != ''">-->
            <!--                <![CDATA[ and TM >= #{stime} ]]>-->
            <!--            </if>-->
            <!--            <if test="etime != null and etime != ''">-->
            <!--                <![CDATA[ and TM <= #{etime} ]]>-->
            <!--            </if>-->
            <!--            <if test="type != null and type.size() > 0">-->
            <!--                and GROUPID in-->
            <!--                <foreach collection="type" open="(" close=")" item="item" separator=",">-->
            <!--                    #{item}-->
            <!--                </foreach>-->
            <!--            </if>-->
        </where>
    </select>

    <insert id="insertOne" parameterType="timertaskserver.workserver.pojo.swzzqxsj.Tz_watershedPojo">
        insert into "tz_watershed"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="KEYID != null and KEYID != ''">
                KEYID,
            </if>
            <if test="NAME != null and NAME != ''">
                NAME,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="KEYID != null and KEYID != ''">
                #{KEYID},
            </if>
            <if test="NAME != null and NAME != ''">
                #{NAME},
            </if>
        </trim>
    </insert>

    <update id="updateOne" parameterType="timertaskserver.workserver.pojo.swzzqxsj.Tz_watershedPojo">
        update "tz_watershed"
        <set>
            <if test="NAME != null and NAME != ''">
                NAME = #{NAME},
            </if>
        </set>
        where KEYID = #{KEYID}
    </update>
    <delete id="deleteOne">
        delete from "tz_watershed" where KEYID = #{ID}
    </delete>
</mapper>