<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="timertaskserver.workserver.data.swzzmode.StRnflRlistData">

    <select id="selectList" resultType="timertaskserver.workserver.pojo.swzzmode.StRnflRlistPojo">
        SELECT ID, NCFILE, TM, FPDR FROM ST_RNFL_RLIST
        <where>
            <if test="tm != null and tm != ''">
                AND TM = #{tm}
            </if>
            <if test="fpdr != null">
                AND FPDR = #{fpdr}
            </if>
        </where>
    </select>

    <insert id="insertOne" parameterType="timertaskserver.workserver.pojo.swzzmode.StRnflRlistPojo">
        INSERT INTO ST_RNFL_RLIST(ID, NCFILE, TM, FPDR)
        VALUES(#{ID}, #{NCFILE}, #{TM}, #{FPDR})
    </insert>

    <delete id="deleteByTmAndFpdr">
        DELETE FROM ST_RNFL_RLIST WHERE TM = #{tm} AND FPDR = #{fpdr}
    </delete>

</mapper>
